@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar.css */

.navbar {
  background: linear-gradient(135deg,  rgb(1, 65, 91), #f6f6f6); /* Gradient background */
  padding: 1rem;
  color: #f4de51; /* Text color for readability */
  display: flex; /* Flexbox for positioning */
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space between logo and menu */
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center; /* Center items vertically */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-subheading {
  font-size: 0.875rem; /* Smaller font size for subheading */
  color: #ffffff; /* Text color for readability */
  margin: 0 auto; /* Center the subheading */
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-menu a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  padding: 0.5rem 1rem; /* Padding around links */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-menu a:hover {
  background-color: #1818c9; /* Slightly darker color for hover effect */
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column; /* Stack menu items vertically */
    gap: 0.5rem;
  }
}

/* end navbar*/



.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;

}
.welcome-text{
  align-self: flex-start;
  font-size: 20px;
  margin: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}



.content{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 146, 202);

}

.saved-section{
  margin: 30px;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background-color: #00011f;
  color: rgb(236, 190, 63);
  font-family:'Times New Roman', Times, serif;

}
